{% load i18n %}
<html>
<head>
	<meta charset="utf-8">
	<title>Index Page</title>
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dijit/themes/claro/claro.css">
	<link type="text/css" rel="stylesheet" href="/static/css/main.css"/>
	<link type="text/css" rel="stylesheet" href="/static/css/GreetingWidget.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body class="claro">
{#	<table>#}
{#	{% for greeting in guestbook_list %}#}
{#		<tr>#}
{#		<td>#}
{#		{% if greeting.author.nickname %}#}
{#			<b>{{ greeting.author }}</b> wrote:#}
{#		{% else %}#}
{#			An anonymous person wrote:#}
{#		{% endif %}#}
{#		</td>#}
{#		<td>#}
{#			<blockquote>{{ greeting.content|escape }}</blockquote>#}
{#		</td>#}
{#		<td><a href="{% url 'update' %}?guestbook_id={{ greeting.id }}&guestbook_name={{ guestbook_name }}">update</a></td>#}
{#		<td>#}
{#			<form id="deleteForm_{{ greeting.id }}" action="#}
{#			{% url 'delete' greeting.id guestbook_name %}" method="post">#}
{#				{% csrf_token %}#}
{#			</form>#}
{#			<a href="#" onclick="document.getElementById('deleteForm_{{ greeting.id }}')#}
{#						.submit()">delete</a>#}
{#			</td>#}
{#		</tr>#}
{#	{% endfor %}#}
{#	</table>#}
{#	<br/>#}
	<div style="width: 100%; height: 50px;">
		<div class="loginContainer">
			{% if user_email != '' %}
				<b> {{ user_email }} </b>
			{% endif %}
			<a href="{{ url }}">{{ url_linktext }}</a>
		</div>
	</div>
	<div>
		<a href="{% url 'sign' %}?guestbook_name={{ guestbook_name }}">Sign GuestBook</a>
{#		<button id="btn" data-dojo-type="dijit/form/Button" data-dojo-props="onClick: function(){#}
{#		console.log('First button was clicked!'); }">Sign Greeting#}
{#		</button>#}
	</div>

	<div id="greetingContainer"></div>

	{% if guestbook_list|length > 0 %}
		<a href="{% url 'index' %}?guestbook_name={{ guestbook_name }}">first</a>
		{% if more %}
			<a href="{% url 'index' %}?guestbook_name=
			{{ guestbook_name }}&cursor={{ next_cursor }}">next</a>
		{% endif %}
		<br/>
	{% endif %}

{#	test dojo#}
	<script>
		var dojoConfig = {
			async: true,
			parseOnLoad : true,
{#			baseUrl: '../../static/js/dojo/1.10.4/dojo',#}
			baseUrl: '//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js',
			paths: {
				widgets: '/static/js/widgets'
			},
			settings: {
				csrfToken: '{{ csrf_token|escapejs }}'
			}
		};
	</script>

{#	<script type="text/javascript" src="/static/js/dojo/1.10.4/dojo/dojo.js"></script>#}
	<script src="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js"></script>
	<script>
		require([
			"dojo/request", "dojo/dom", "dojo/_base/array", "dijit/form/Button", "dojo/cookie",
			"dojo/parser", "widgets/GreetingsWidget", "dojo/domReady!"
			], function(request, dom, arrayUtil, Button, cookie, parser, GreetingsWidget){
				cookie("csrf_token", "{{ csrf_token }}");
				request("/api/v1/default_guestbook/greetings/?limit=10", {
					handleAs: 'json'
				}).then(function(data){
					var greetingContainer = dom.byId("greetingContainer");
					arrayUtil.forEach(data.greetings, function(greeting){
						var widget = new GreetingsWidget(greeting).placeAt(greetingContainer);
					});
				})
			})
	</script>
</body>
</html>
