body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #DDDDDD; }

div.loginContainer {
  float: right;
  font-style: italic;
  margin: 5px; }

div.loginContainer a {
  cursor: pointer; }
